First_Bucket/NiFi_Projects.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "0562e402-d7d6-3684-9f19-4b615394eacd" : {
          "identifier" : "0562e402-d7d6-3684-9f19-4b615394eacd",
          "name" : "JsonTreeReader"
        },
        "ba99bd45-5825-303b-8e8f-0a84a9d8f2e8" : {
          "identifier" : "ba99bd45-5825-303b-8e8f-0a84a9d8f2e8",
          "name" : "DBCPConnectionPool"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "c07f062a-963c-3773-ab49-66652eb49df9",
            "instanceIdentifier" : "9aa3c70c-0191-1000-00aa-26bdfe5c5470",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "6ea85539-f453-3e2b-ac7d-485c53062c60",
          "instanceIdentifier" : "9acc6d03-0191-1000-48a8-042d55d5142b",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "caf37726-b7ab-3904-9983-554e4c0c8c37",
            "instanceIdentifier" : "9ab0c638-0191-1000-50d7-459c318f4100",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "c7827e12-4896-39c9-940d-a13d1a12220f",
            "instanceIdentifier" : "9f9f328f-0191-1000-2560-8253da973dfb",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "bdcdb3d5-181b-367c-b7e7-1c1ab635f21e",
          "instanceIdentifier" : "9f9f6378-0191-1000-2452-4e897d781f3b",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "7024cd4d-b21b-3059-9139-2b43066178d1",
            "instanceIdentifier" : "9f997c74-0191-1000-ec6e-ef5094fe77d7",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "717e1bcf-ed91-33de-8c88-632cbec58112",
            "instanceIdentifier" : "9aa28b58-0191-1000-58e6-37722a1b7de6",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "f3cbed56-6c0b-309f-8ded-9fd30e86a1f9",
          "instanceIdentifier" : "9a942d72-0191-1000-c371-1dd9ec566034",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "17fee3f7-4fe5-3ea7-80a3-2decbf56dd16",
            "instanceIdentifier" : "9a913b2e-0191-1000-d697-57c1eb7ac0f7",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "9ca2c60e-4497-32ca-ae94-d1cead9ec3e6",
            "instanceIdentifier" : "9fa4e4a3-0191-1000-668a-e66f05231a04",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "85e7340d-f3aa-3f8d-a262-f6ba30b64e38",
          "instanceIdentifier" : "9faccb80-0191-1000-e549-4d58dc20fe35",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "be6100bc-b547-3850-a827-9e2533d82add",
            "instanceIdentifier" : "9fa519f0-0191-1000-bffd-d219bf71058d",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "9447fe30-90c4-3b7d-96af-49bb74946930",
            "instanceIdentifier" : "9a919bee-0191-1000-234e-f6cddd8c63eb",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "808a5cb5-ecad-39cb-8748-8828d562a447",
          "instanceIdentifier" : "9aa2e397-0191-1000-111d-ac13077f219a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "717e1bcf-ed91-33de-8c88-632cbec58112",
            "instanceIdentifier" : "9aa28b58-0191-1000-58e6-37722a1b7de6",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "6d0d2107-67fe-3ec6-aa1f-6dc19d365faf",
            "instanceIdentifier" : "b33056b3-0191-1000-f2c9-05b32dfe1d78",
            "name" : "PublishKafka",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "cca46bfb-2aac-3bb9-b285-a6a3ea328918",
          "instanceIdentifier" : "b3309324-0191-1000-b450-3ecdad1ece3e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "2501508e-a3da-3826-9bf1-6b6fe6093f9b",
            "instanceIdentifier" : "b32fffb0-0191-1000-9366-265795a3c3ed",
            "name" : "ConsumeJMS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "id" : "7567c431-7529-3ccb-a0d1-771613443e89",
            "instanceIdentifier" : "9f6bfd73-0191-1000-5782-21a93816eabd",
            "name" : "input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "bb0be47c-00cd-3b6f-822c-66047ab2d9e4",
          "instanceIdentifier" : "9f6cffe0-0191-1000-9709-a5eee1e7165f",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "5a3256c6-1b4f-3337-9e20-9670b9371a13",
            "id" : "ab435763-f4aa-3e75-9371-519d85e8c50f",
            "instanceIdentifier" : "9f6b30a7-0191-1000-c463-2a745f04dd2e",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "10c0c643-0887-3719-ad3c-b2893b0bcfe9",
            "instanceIdentifier" : "9f95eb46-0191-1000-d249-ce54a2505b83",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "43bddad1-054d-35c4-8139-692e6b32aa16",
          "instanceIdentifier" : "a3833922-0191-1000-b59c-99343db63485",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "a4249872-d763-3d81-a7a2-16202f4ae8be",
            "instanceIdentifier" : "a382706f-0191-1000-aa5d-002c4578eff9",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "6c7ad1d8-db04-3c85-ac92-f013f18bd9b0",
            "instanceIdentifier" : "a381fdfe-0191-1000-390b-f7d5e273c27b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "462143c3-07af-34b0-b342-6f9d5d925283",
          "instanceIdentifier" : "9f963a9b-0191-1000-c827-871c0c7d6f2a",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "56fd1694-6754-3e1c-b705-8944c18099c5",
            "instanceIdentifier" : "9f915c08-0191-1000-7718-e295bd7ed19c",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "02ecf354-30a8-3d87-b15d-0b254ffaa9dc",
            "instanceIdentifier" : "9fb1fb14-0191-1000-2340-3bbf8331f9a8",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "a418bb55-0ce8-308b-ab84-c5f34555f787",
          "instanceIdentifier" : "9fb22213-0191-1000-8291-bacda0fe59f7",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "9ca2c60e-4497-32ca-ae94-d1cead9ec3e6",
            "instanceIdentifier" : "9fa4e4a3-0191-1000-668a-e66f05231a04",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "66cfd6b5-6e44-3a77-91e8-28f92a7b9052",
            "instanceIdentifier" : "9f91ec19-0191-1000-f2a2-65f0f8fd9630",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "a26be511-42d1-3ca0-90cd-bae4f4d1869b",
          "instanceIdentifier" : "9f965244-0191-1000-3830-0b27c2d5f06e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.PriorityAttributePrioritizer" ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "10c0c643-0887-3719-ad3c-b2893b0bcfe9",
            "instanceIdentifier" : "9f95eb46-0191-1000-d249-ce54a2505b83",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "f702ddb6-c7b3-34e3-800e-c6b1617dc648",
            "instanceIdentifier" : "9a9b07fc-0191-1000-8554-3422201fc26e",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "a72b03d1-40e4-3148-955a-eed20f7121ae",
          "instanceIdentifier" : "9a9b6cae-0191-1000-0a3b-9b02e96f2932",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "17fee3f7-4fe5-3ea7-80a3-2decbf56dd16",
            "instanceIdentifier" : "9a913b2e-0191-1000-d697-57c1eb7ac0f7",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "50557510-0e23-3e33-a4bb-5d912dc6fc23",
            "instanceIdentifier" : "94ebc804-0191-1000-ecba-f6773f86d19f",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "2791fa21-bed2-33ee-8d47-41e5a063bf5c",
          "instanceIdentifier" : "94ec7844-0191-1000-4c7e-6f88bf5a4f2c",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "b44b5559-4328-3838-b22b-1bd9978e5418",
            "instanceIdentifier" : "94eb3a4d-0191-1000-2a80-a086c054dd49",
            "name" : "GetFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "10c0c643-0887-3719-ad3c-b2893b0bcfe9",
            "instanceIdentifier" : "9f95eb46-0191-1000-d249-ce54a2505b83",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "6f912c0b-4734-3933-b6a8-3e40e14781db",
          "instanceIdentifier" : "a3834e90-0191-1000-4a7d-00c5d1fd5a30",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "6c7ad1d8-db04-3c85-ac92-f013f18bd9b0",
            "instanceIdentifier" : "a381fdfe-0191-1000-390b-f7d5e273c27b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "caf37726-b7ab-3904-9983-554e4c0c8c37",
            "instanceIdentifier" : "9ab0c638-0191-1000-50d7-459c318f4100",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "5b82d067-bc93-3ea2-af11-e9c7655ceec2",
          "instanceIdentifier" : "9aa3e86a-0191-1000-2f3c-dbaff81105cb",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "717e1bcf-ed91-33de-8c88-632cbec58112",
            "instanceIdentifier" : "9aa28b58-0191-1000-58e6-37722a1b7de6",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "17fee3f7-4fe5-3ea7-80a3-2decbf56dd16",
            "instanceIdentifier" : "9a913b2e-0191-1000-d697-57c1eb7ac0f7",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "198d1179-711a-3419-b9c9-a59ffaa181ae",
          "instanceIdentifier" : "9a93d722-0191-1000-b406-efb17bb0d482",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "87b286e2-5fb7-3299-afdd-04d43fe6e79a",
            "instanceIdentifier" : "9a8c0522-0191-1000-1c23-ad41aecf1ef7",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -1644.4423828125,
            "y" : 1040.6094765663147
          }, {
            "x" : -1644.4423828125,
            "y" : 1090.6094765663147
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "9ca2c60e-4497-32ca-ae94-d1cead9ec3e6",
            "instanceIdentifier" : "9fa4e4a3-0191-1000-668a-e66f05231a04",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "d6f155bc-c826-324c-8560-ddba66b482fb",
          "instanceIdentifier" : "9fb2e7a3-0191-1000-6c26-1432c40f137e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "retry" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "9ca2c60e-4497-32ca-ae94-d1cead9ec3e6",
            "instanceIdentifier" : "9fa4e4a3-0191-1000-668a-e66f05231a04",
            "name" : "PutSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "a4249872-d763-3d81-a7a2-16202f4ae8be",
            "instanceIdentifier" : "a382706f-0191-1000-aa5d-002c4578eff9",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "5cc89260-eeed-3470-95f6-d413fcc83fc2",
          "instanceIdentifier" : "9f962cba-0191-1000-6528-882f3e9c6087",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
            "id" : "5a7b0e8d-a931-3a73-ac06-abc795434e8d",
            "instanceIdentifier" : "9f91001e-0191-1000-c455-3c947d165235",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "10c0c643-0887-3719-ad3c-b2893b0bcfe9",
          "instanceIdentifier" : "9f95eb46-0191-1000-d249-ce54a2505b83",
          "position" : {
            "x" : -1232.0,
            "y" : -16.0
          }
        } ],
        "identifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
        "inputPorts" : [ ],
        "instanceIdentifier" : "b43a8477-0191-1000-40e3-2451c28459ae",
        "labels" : [ ],
        "name" : "NiFi Projects",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1128.0,
          "y" : 486.2589111328125
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "5a3256c6-1b4f-3337-9e20-9670b9371a13",
          "inputPorts" : [ ],
          "instanceIdentifier" : "9f5f31c8-0191-1000-6cca-4610f4669f77",
          "labels" : [ ],
          "name" : "CVS to JSON",
          "outputPorts" : [ ],
          "position" : {
            "x" : 320.0,
            "y" : -64.0
          },
          "processGroups" : [ ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { },
          "versionedFlowCoordinates" : {
            "bucketId" : "279e4cef-705d-4755-9c79-05b5e3186a40",
            "flowId" : "f50bdfd5-a9f2-42d7-946f-d134638a6b73",
            "storageLocation" : "http://localhost:18080/nifi-registry-api/buckets/279e4cef-705d-4755-9c79-05b5e3186a40/flows/f50bdfd5-a9f2-42d7-946f-d134638a6b73/versions/1",
            "version" : 1
          }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "6828196b-741a-3589-bfe5-93118a71a72c",
              "instanceIdentifier" : "a39bcc2c-0191-1000-4276-9eee6a2be379",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "7f520a94-b339-35f4-8f74-635a7a864c9e",
            "instanceIdentifier" : "a39beadd-0191-1000-0948-244a1c4dd8d0",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "86307895-ba6b-3696-94b6-bd97e93fd621",
              "instanceIdentifier" : "9a76c9e7-0191-1000-6322-db54ff3978a9",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "2ede9f45-e4ae-3a4c-b027-6ba9637cecd8",
              "instanceIdentifier" : "9a7e0247-0191-1000-236f-98ac599a1d79",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "3c1bd98a-ad37-3a4e-b51c-fd3fa32e0b5c",
            "instanceIdentifier" : "9f6c1862-0191-1000-20b1-95d4322c9892",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "7567c431-7529-3ccb-a0d1-771613443e89",
              "instanceIdentifier" : "9f6bfd73-0191-1000-5782-21a93816eabd",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "d855cfae-c60d-34f6-8f83-551b23627b05",
              "instanceIdentifier" : "a39b30b8-0191-1000-e83d-dad25b880dc4",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "1c184281-3fb0-3cd0-b96b-0adf81d9344d",
            "instanceIdentifier" : "a39bb318-0191-1000-9836-158570bd2b06",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "86307895-ba6b-3696-94b6-bd97e93fd621",
              "instanceIdentifier" : "9a76c9e7-0191-1000-6322-db54ff3978a9",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "86307895-ba6b-3696-94b6-bd97e93fd621",
              "instanceIdentifier" : "9a76c9e7-0191-1000-6322-db54ff3978a9",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "0f03416b-d1a6-3c81-9f63-d5ded76eed9f",
            "instanceIdentifier" : "9a860d91-0191-1000-9ae4-5aa9babe1f77",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
              "id" : "2ede9f45-e4ae-3a4c-b027-6ba9637cecd8",
              "instanceIdentifier" : "9a7e0247-0191-1000-236f-98ac599a1d79",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "7567c431-7529-3ccb-a0d1-771613443e89",
            "instanceIdentifier" : "9f6bfd73-0191-1000-5782-21a93816eabd",
            "name" : "input",
            "position" : {
              "x" : 904.0,
              "y" : 776.0
            },
            "scheduledState" : "DISABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "9f665de2-0191-1000-6778-f250a9b199bc",
          "labels" : [ ],
          "name" : "Write JSON To File System",
          "outputPorts" : [ ],
          "position" : {
            "x" : 440.0,
            "y" : 320.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "86307895-ba6b-3696-94b6-bd97e93fd621",
            "instanceIdentifier" : "9a76c9e7-0191-1000-6322-db54ff3978a9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1664.0,
              "y" : 912.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "C:\\software\\nifi-2.0.0-M4\\output",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "6828196b-741a-3589-bfe5-93118a71a72c",
            "instanceIdentifier" : "a39bcc2c-0191-1000-4276-9eee6a2be379",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1904.0,
              "y" : 1240.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "d855cfae-c60d-34f6-8f83-551b23627b05",
            "instanceIdentifier" : "a39b30b8-0191-1000-e83d-dad25b880dc4",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 904.0,
              "y" : 1264.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9d8a0627-407b-31cf-8a2b-346e36972fc8",
            "identifier" : "2ede9f45-e4ae-3a4c-b027-6ba9637cecd8",
            "instanceIdentifier" : "9a7e0247-0191-1000-236f-98ac599a1d79",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 872.0,
              "y" : 888.0
            },
            "properties" : {
              "filename" : "${filename}-${now():toNumber():format('dd-MM-yy')}.json",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "5a7b0e8d-a931-3a73-ac06-abc795434e8d",
          "instanceIdentifier" : "9f91001e-0191-1000-c455-3c947d165235",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1656.0,
            "y" : -648.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "1B",
            "generate-ff-custom-text" : "some data",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "5 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jms-processors-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "2501508e-a3da-3826-9bf1-6b6fe6093f9b",
          "instanceIdentifier" : "b32fffb0-0191-1000-9366-265795a3c3ed",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeJMS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1400.0,
            "y" : 176.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "output-strategy" : "USE_VALUE",
            "Destination Type" : "QUEUE",
            "Acknowledgement Mode" : "2",
            "Shared subscription" : "false",
            "Timeout" : "1 sec",
            "Durable subscription" : "false"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "output-strategy" : {
              "displayName" : "Output Strategy",
              "identifiesControllerService" : false,
              "name" : "output-strategy",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "java.naming.factory.initial" : {
              "displayName" : "JNDI Initial Context Factory Class",
              "identifiesControllerService" : false,
              "name" : "java.naming.factory.initial",
              "sensitive" : false
            },
            "Destination Name" : {
              "displayName" : "Destination Name",
              "identifiesControllerService" : false,
              "name" : "Destination Name",
              "sensitive" : false
            },
            "java.naming.provider.url" : {
              "displayName" : "JNDI Provider URL",
              "identifiesControllerService" : false,
              "name" : "java.naming.provider.url",
              "sensitive" : false
            },
            "Connection Factory Service" : {
              "displayName" : "Connection Factory Service",
              "identifiesControllerService" : true,
              "name" : "Connection Factory Service",
              "sensitive" : false
            },
            "Subscription Name" : {
              "displayName" : "Subscription Name",
              "identifiesControllerService" : false,
              "name" : "Subscription Name",
              "sensitive" : false
            },
            "Error Queue Name" : {
              "displayName" : "Error Queue Name",
              "identifiesControllerService" : false,
              "name" : "Error Queue Name",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "Destination Type" : {
              "displayName" : "Destination Type",
              "identifiesControllerService" : false,
              "name" : "Destination Type",
              "sensitive" : false
            },
            "Acknowledgement Mode" : {
              "displayName" : "Acknowledgement Mode",
              "identifiesControllerService" : false,
              "name" : "Acknowledgement Mode",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "cflib" : {
              "displayName" : "JMS Client Libraries",
              "identifiesControllerService" : false,
              "name" : "cflib",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "URL", "FILE" ]
              },
              "sensitive" : false
            },
            "cf" : {
              "displayName" : "JMS Connection Factory Implementation Class",
              "identifiesControllerService" : false,
              "name" : "cf",
              "sensitive" : false
            },
            "User Name" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "User Name",
              "sensitive" : false
            },
            "Shared subscription" : {
              "displayName" : "Shared Subscription",
              "identifiesControllerService" : false,
              "name" : "Shared subscription",
              "sensitive" : false
            },
            "Timeout" : {
              "displayName" : "Timeout",
              "identifiesControllerService" : false,
              "name" : "Timeout",
              "sensitive" : false
            },
            "naming.factory.libraries" : {
              "displayName" : "JNDI / JMS Client Libraries",
              "identifiesControllerService" : false,
              "name" : "naming.factory.libraries",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "URL", "FILE" ]
              },
              "sensitive" : false
            },
            "Durable subscription" : {
              "displayName" : "Durable Subscription",
              "identifiesControllerService" : false,
              "name" : "Durable subscription",
              "sensitive" : false
            },
            "broker" : {
              "displayName" : "JMS Broker URI",
              "identifiesControllerService" : false,
              "name" : "broker",
              "sensitive" : false
            },
            "connection.factory.name" : {
              "displayName" : "JNDI Name of the Connection Factory",
              "identifiesControllerService" : false,
              "name" : "connection.factory.name",
              "sensitive" : false
            },
            "Message Selector" : {
              "displayName" : "Message Selector",
              "identifiesControllerService" : false,
              "name" : "Message Selector",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "JMS SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Connection Client ID" : {
              "displayName" : "Connection Client ID",
              "identifiesControllerService" : false,
              "name" : "Connection Client ID",
              "sensitive" : false
            },
            "java.naming.security.principal" : {
              "displayName" : "JNDI Principal",
              "identifiesControllerService" : false,
              "name" : "java.naming.security.principal",
              "sensitive" : false
            },
            "java.naming.security.credentials" : {
              "displayName" : "JNDI Credentials",
              "identifiesControllerService" : false,
              "name" : "java.naming.security.credentials",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.jms.processors.ConsumeJMS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "b44b5559-4328-3838-b22b-1bd9978e5418",
          "instanceIdentifier" : "94eb3a4d-0191-1000-2a80-a086c054dd49",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GetFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -456.0,
            "y" : -160.0
          },
          "properties" : {
            "Keep Source File" : "false",
            "Minimum File Age" : "0 sec",
            "Polling Interval" : "0 sec",
            "Input Directory" : "C:\\software\\nifi-2.0.0-M4\\input",
            "Batch Size" : "10",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "true",
            "File Filter" : "[^\\.].*"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "717e1bcf-ed91-33de-8c88-632cbec58112",
          "instanceIdentifier" : "9aa28b58-0191-1000-58e6-37722a1b7de6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 990.2589111328125
          },
          "properties" : {
            "Max String Length" : "20 MB",
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "a4249872-d763-3d81-a7a2-16202f4ae8be",
          "instanceIdentifier" : "a382706f-0191-1000-aa5d-002c4578eff9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1792.0,
            "y" : -256.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "priority" : "9"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "priority" : {
              "displayName" : "priority",
              "identifiesControllerService" : false,
              "name" : "priority",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "50557510-0e23-3e33-a4bb-5d912dc6fc23",
          "instanceIdentifier" : "94ebc804-0191-1000-ecba-f6773f86d19f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -216.0,
            "y" : 320.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "C:\\software\\nifi-2.0.0-M4\\output",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "c7827e12-4896-39c9-940d-a13d1a12220f",
          "instanceIdentifier" : "9f9f328f-0191-1000-2560-8253da973dfb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3184.0,
            "y" : -464.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ "success" ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "6d0d2107-67fe-3ec6-aa1f-6dc19d365faf",
          "instanceIdentifier" : "b33056b3-0191-1000-f2c9-05b32dfe1d78",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishKafka",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1400.0,
            "y" : 472.0
          },
          "properties" : {
            "compression.type" : "none",
            "acks" : "all",
            "Kafka Key Attribute Encoding" : "utf-8",
            "Record Metadata Strategy" : "FROM_PROPERTIES",
            "Header Encoding" : "UTF-8",
            "max.request.size" : "1 MB",
            "Publish Strategy" : "USE_VALUE",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "Transactions Enabled" : "true"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "Message Demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "Message Demarcator",
              "sensitive" : false
            },
            "Kafka Key Attribute Encoding" : {
              "displayName" : "Kafka Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "Kafka Key Attribute Encoding",
              "sensitive" : false
            },
            "Record Reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "Record Reader",
              "sensitive" : false
            },
            "Record Metadata Strategy" : {
              "displayName" : "Record Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "Record Metadata Strategy",
              "sensitive" : false
            },
            "Transactional ID Prefix" : {
              "displayName" : "Transactional ID Prefix",
              "identifiesControllerService" : false,
              "name" : "Transactional ID Prefix",
              "sensitive" : false
            },
            "Header Encoding" : {
              "displayName" : "Header Encoding",
              "identifiesControllerService" : false,
              "name" : "Header Encoding",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "Topic Name" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "Topic Name",
              "sensitive" : false
            },
            "Kafka Key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "Kafka Key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "Kafka Connection Service" : {
              "displayName" : "Kafka Connection Service",
              "identifiesControllerService" : true,
              "name" : "Kafka Connection Service",
              "sensitive" : false
            },
            "Publish Strategy" : {
              "displayName" : "Publish Strategy",
              "identifiesControllerService" : false,
              "name" : "Publish Strategy",
              "sensitive" : false
            },
            "Record Key Writer" : {
              "displayName" : "Record Key Writer",
              "identifiesControllerService" : true,
              "name" : "Record Key Writer",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner Class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "Record Writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "Record Writer",
              "sensitive" : false
            },
            "Transactions Enabled" : {
              "displayName" : "Transactions Enabled",
              "identifiesControllerService" : false,
              "name" : "Transactions Enabled",
              "sensitive" : false
            },
            "Message Key Field" : {
              "displayName" : "Message Key Field",
              "identifiesControllerService" : false,
              "name" : "Message Key Field",
              "sensitive" : false
            },
            "FlowFile Attribute Header Pattern" : {
              "displayName" : "FlowFile Attribute Header Pattern",
              "identifiesControllerService" : false,
              "name" : "FlowFile Attribute Header Pattern",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.kafka.processors.PublishKafka",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "56fd1694-6754-3e1c-b705-8944c18099c5",
          "instanceIdentifier" : "9f915c08-0191-1000-7718-e295bd7ed19c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1072.0,
            "y" : -536.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "1B",
            "generate-ff-custom-text" : "critical data",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "f702ddb6-c7b3-34e3-800e-c6b1617dc648",
          "instanceIdentifier" : "9a9b07fc-0191-1000-8554-3422201fc26e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2384.0,
            "y" : 958.2589111328125
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "PRIMARY",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "87b286e2-5fb7-3299-afdd-04d43fe6e79a",
          "instanceIdentifier" : "9a8c0522-0191-1000-1c23-ad41aecf1ef7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2032.0,
            "y" : 488.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "60 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "66cfd6b5-6e44-3a77-91e8-28f92a7b9052",
          "instanceIdentifier" : "9f91ec19-0191-1000-f2a2-65f0f8fd9630",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1376.0,
            "y" : 288.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ "success" ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "6c7ad1d8-db04-3c85-ac92-f013f18bd9b0",
          "instanceIdentifier" : "a381fdfe-0191-1000-390b-f7d5e273c27b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -768.0,
            "y" : -160.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "priority" : "1"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "priority" : {
              "displayName" : "priority",
              "identifiesControllerService" : false,
              "name" : "priority",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "17fee3f7-4fe5-3ea7-80a3-2decbf56dd16",
          "instanceIdentifier" : "9a913b2e-0191-1000-d697-57c1eb7ac0f7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2008.0,
            "y" : 672.0
          },
          "properties" : {
            "Request Content-Encoding" : "DISABLED",
            "Request Multipart Form-Data Filename Enabled" : "true",
            "Request Chunked Transfer-Encoding Enabled" : "false",
            "HTTP/2 Disabled" : "False",
            "Connection Timeout" : "10 secs",
            "Response Cookie Strategy" : "DISABLED",
            "Socket Read Timeout" : "30 secs",
            "Socket Idle Connections" : "5",
            "Request Body Enabled" : "true",
            "HTTP URL" : "https://data.parliament.scot/api/departments",
            "Socket Idle Timeout" : "5 mins",
            "Response Redirects Enabled" : "True",
            "Socket Write Timeout" : "30 secs",
            "Response FlowFile Naming Strategy" : "RANDOM",
            "Response Cache Enabled" : "false",
            "Request Date Header Enabled" : "True",
            "Request Failure Penalization Enabled" : "false",
            "Response Body Attribute Size" : "256",
            "Response Generation Required" : "false",
            "Response Header Request Attributes Enabled" : "false",
            "HTTP Method" : "GET",
            "Request Content-Type" : "${mime.type}",
            "Request Digest Authentication Enabled" : "false",
            "Response Cache Size" : "10MB",
            "Response Body Ignored" : "false"
          },
          "propertyDescriptors" : {
            "Request Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Request Content-Encoding",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Request Multipart Form-Data Filename Enabled" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Filename Enabled",
              "sensitive" : false
            },
            "Request Chunked Transfer-Encoding Enabled" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Chunked Transfer-Encoding Enabled",
              "sensitive" : false
            },
            "HTTP/2 Disabled" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "HTTP/2 Disabled",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Response Cookie Strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "Response Cookie Strategy",
              "sensitive" : false
            },
            "Request Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Request Password",
              "sensitive" : true
            },
            "Socket Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Read Timeout",
              "sensitive" : false
            },
            "Socket Idle Connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "Socket Idle Connections",
              "sensitive" : false
            },
            "Request Body Enabled" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Body Enabled",
              "sensitive" : false
            },
            "HTTP URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "HTTP URL",
              "sensitive" : false
            },
            "Request OAuth2 Access Token Provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "Request OAuth2 Access Token Provider",
              "sensitive" : false
            },
            "Socket Idle Timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Idle Timeout",
              "sensitive" : false
            },
            "Response Redirects Enabled" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Response Redirects Enabled",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Request Header Attributes Pattern" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Request Header Attributes Pattern",
              "sensitive" : false
            },
            "Response FlowFile Naming Strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "Response FlowFile Naming Strategy",
              "sensitive" : false
            },
            "Response Cache Enabled" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "Response Cache Enabled",
              "sensitive" : false
            },
            "Request Date Header Enabled" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Date Header Enabled",
              "sensitive" : false
            },
            "Request Failure Penalization Enabled" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Failure Penalization Enabled",
              "sensitive" : false
            },
            "Response Body Attribute Size" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Response Generation Required" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Response Generation Required",
              "sensitive" : false
            },
            "Request User-Agent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Request User-Agent",
              "sensitive" : false
            },
            "Response Header Request Attributes Enabled" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Response Header Request Attributes Enabled",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Request Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Request Username",
              "sensitive" : false
            },
            "Request Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Request Content-Type",
              "sensitive" : false
            },
            "Response Body Attribute Name" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Response Body Attribute Name",
              "sensitive" : false
            },
            "Request Digest Authentication Enabled" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Request Digest Authentication Enabled",
              "sensitive" : false
            },
            "Request Multipart Form-Data Name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "Request Multipart Form-Data Name",
              "sensitive" : false
            },
            "Response Cache Size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "Response Cache Size",
              "sensitive" : false
            },
            "Response Body Ignored" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "Response Body Ignored",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "7024cd4d-b21b-3059-9139-2b43066178d1",
          "instanceIdentifier" : "9f997c74-0191-1000-ec6e-ef5094fe77d7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -3176.0,
            "y" : -712.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n  \"first\": \"Jhon ${random():mod(10):plus(1)}\",\n  \"last\": \"House ${random():mod(10):plus(1)}\",\n  \"create_on\": \"${now():toNumber()}\"\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "c07f062a-963c-3773-ab49-66652eb49df9",
          "instanceIdentifier" : "9aa3c70c-0191-1000-00aa-26bdfe5c5470",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1656.0,
            "y" : 1496.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "02ecf354-30a8-3d87-b15d-0b254ffaa9dc",
          "instanceIdentifier" : "9fb1fb14-0191-1000-2340-3bbf8331f9a8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2120.0,
            "y" : 1248.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ "success" ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "9447fe30-90c4-3b7d-96af-49bb74946930",
          "instanceIdentifier" : "9a919bee-0191-1000-234e-f6cddd8c63eb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2112.0,
            "y" : 1248.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "be6100bc-b547-3850-a827-9e2533d82add",
          "instanceIdentifier" : "9fa519f0-0191-1000-bffd-d219bf71058d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2128.0,
            "y" : 672.0
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "Table Name" : "tbl_users",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "JDBC Connection Pool" : "ba99bd45-5825-303b-8e8f-0a84a9d8f2e8",
            "Translate Field Names" : "true",
            "Statement Type" : "INSERT"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "caf37726-b7ab-3904-9983-554e4c0c8c37",
          "instanceIdentifier" : "9ab0c638-0191-1000-50d7-459c318f4100",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1696.0,
            "y" : 1256.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-dcbp-service" : "ba99bd45-5825-303b-8e8f-0a84a9d8f2e8",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "put-db-record-statement-type" : "INSERT",
            "put-db-record-binary-format" : "UTF-8",
            "db-type" : "MySQL",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-table-name" : "department",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "1000",
            "put-db-record-record-reader" : "0562e402-d7d6-3684-9f19-4b615394eacd",
            "database-session-autocommit" : "false"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "put-db-record-binary-format" : {
              "displayName" : "Binary String Format",
              "identifiesControllerService" : false,
              "name" : "put-db-record-binary-format",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "8d71ad59-6ecf-3641-b7b2-fa9c2b8b9d4a",
          "identifier" : "9ca2c60e-4497-32ca-ae94-d1cead9ec3e6",
          "instanceIdentifier" : "9fa4e4a3-0191-1000-668a-e66f05231a04",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -2112.0,
            "y" : 1008.0
          },
          "properties" : {
            "Support Fragmented Transactions" : "true",
            "Batch Size" : "100",
            "Obtain Generated Keys" : "false",
            "JDBC Connection Pool" : "ba99bd45-5825-303b-8e8f-0a84a9d8f2e8",
            "database-session-autocommit" : "false",
            "rollback-on-failure" : "false"
          },
          "propertyDescriptors" : {
            "Support Fragmented Transactions" : {
              "displayName" : "Support Fragmented Transactions",
              "identifiesControllerService" : false,
              "name" : "Support Fragmented Transactions",
              "sensitive" : false
            },
            "putsql-sql-statement" : {
              "displayName" : "SQL Statement",
              "identifiesControllerService" : false,
              "name" : "putsql-sql-statement",
              "sensitive" : false
            },
            "Transaction Timeout" : {
              "displayName" : "Transaction Timeout",
              "identifiesControllerService" : false,
              "name" : "Transaction Timeout",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Obtain Generated Keys" : {
              "displayName" : "Obtain Generated Keys",
              "identifiesControllerService" : false,
              "name" : "Obtain Generated Keys",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "database-session-autocommit" : {
              "displayName" : "Database Session AutoCommit",
              "identifiesControllerService" : false,
              "name" : "database-session-autocommit",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutSQL",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}